@import "../base/_variables.scss";

.heading-primary {
  text-transform: uppercase;
  text-align: center;
  color: white;

  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 8rem;
    font-weight: 700;
    letter-spacing: 1.8rem;

    animation-name: moveInLeft;
    animation-duration: 4s;
  }

  &--sub {
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    word-spacing: 0.5rem;

    animation: moveInRight 2s ease-out;
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(
                  to right,
                  rgba($color-green-light, 0.8),
                  rgba($color-green-dark, 0.8)
  );

  transition: all 1s;
   -webkit-background-clip: text;
  color: transparent;
  &:hover{
    transform: skewY(-7deg) skewX(10deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba(255, 255,255, .5);
  }
}

.heading-tertiary {
font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}
