// COLORS SECTION
$color-green-light: #7ED56F;

$color-green-dark: #28B485;

$color-orange-light: #FFB900;

$color-orange-dark: #FF7730;

$color-blue-light: #2998FF;

$color-blue-dark: #5643FA;

$color-grey-light: #f7f7f7;

$color-black: #000000;

$color-white: #FFFFFF;

//GRID SECTION
$grid-width: 1124px;

$grid-gutter-width: 6rem;

$grid-gutter-vertical: 8rem;

$default-font-size: 1.6rem;
