@import "../base/variables";
@import "../base/mixins";

.row {
  max-width: $grid-width;
  margin: auto;

  @include clearfix;

  &:not(:last-child){
    margin-bottom: $grid-gutter-vertical;
  }

  [class^="col-1"] {
    float: left;
    &:not(:last-child){
      margin-right: $grid-gutter-width;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$grid-gutter-width}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - #{$grid-gutter-width} * 2) / 3);
  }

  .col-1-of-4 {
    width: calc((100% - #{$grid-gutter-width} * 3) / 4);
  }
}
