<template>
    <section class="section-about">
        <div class="u-text-center u-margin-bottom-8">
            <h1 class="heading-secondary">
                Discover The World in One Tour
            </h1>
        </div>
        <div class="row">
            <div class="col-1-of-2">
                <h3 class="heading-tertiary u-margin-bottom-5">
                    Fall in love with the nature
                </h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid architecto atque
                    delectus deserunt dignissimos dolorem esse ex id labore libero maxime nobis perspiciatis,
                    repellat sapiente tempora ullam voluptas. Distinctio.
                </p>
                <h3 class="heading-tertiary u-margin-bottom-5">
                    the best memory ever
                </h3>
                <p class="paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam architecto beatae cumque
                    debitis, expedita facilis incidunt ipsam ipsum magnam quod repellendus, voluptate! Alias commodi
                    expedita harum laboriosam molestiae reprehenderit voluptatibus?
                </p>
                <a href="#" class="read-more">Read more &rarr;</a>
            </div>
            <div class="col-1-of-2">
                <div class="composition">
                    <img src="../assets/img/nat-1-large.jpg" alt="IMAGE"
                          class="composition__photo composition__photo--p1"/>
                    <img src="../assets/img/nat-2-large.jpg" alt="IMAGE 2"
                         class="composition__photo composition__photo--p2"/>
                    <img src="../assets/img/nat-3-large.jpg" alt="IMAGE 3"
                        class="composition__photo composition__photo--p3">
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: "About"
};
</script>

<style lang="scss">
@import "../assets/sass/pages/about";
@import "../assets/sass/layouts/utilities";
@import "../assets/sass/layouts/grids";
</style>
