<template>
    <section class="section-booking">
        <div class="booking-box">
            <div class="book">
                <h2 class="heading-secondary u-text-center">Start Booking now</h2>
                <form action="#" class="form">
                    <div class="form__group u-margin-bottom-huge">
                        <input type="text" class="form__input" id="name" placeholder="Full Name" required>
                        <label for="name" class="form__label"> Full Name</label>
                    </div>

                    <div class="form__group">
                        <input type="email" class="form__input" id="email" placeholder="Email" required>
                        <label for="email" class="form__label">Email</label>
                    </div>
                    <div class="radio">
                        <div class="form__group">
                            <input type="radio" name="select" value="Large" id="large" class="radio-input" checked>
                            <label class="radio__button" for="large">
                                <span class="radio__button--checked"></span>
                            <strong  class="radio__label">Large</strong>
                           </label>
                        </div>
                        <div class="form__group">
                            <input type="radio" name="select" value="Small" id="small" class="radio-input">
                            <label class="radio__button" for="small">
                                <span class="radio__button--checked"></span>
                            <strong  class="radio__label">Small</strong>
                           </label>
                        </div>
                    </div>
                    <div class="form__group">
                        <button class="btn btn--green u-text-center"> Book &rarr;</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: "Booking"
};
</script>

<style lang="scss">
@import "../assets/sass/components/button";

.section-booking {
  height: 60rem;
  padding: 15rem;
  background: linear-gradient(
    to bottom right,
    $color-green-light,
    $color-green-dark
  );
}

.booking-box {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.8) 0%,
      rgba($color-white, 0.8) 50%,
      rgba($color-green-light, 0.6) 50%
    ),
    url("../assets/img/nat-10.jpg");
  background-size: cover;
  height: 100%;
}

.book {
  width: 50%;
  padding: 6rem;

  .form {
    &__group {
      display: block;
      font-size: 2rem;
      width: 70%;
      transition: all 0.2s;
      &:not(:last-child) {
        margin-bottom: 4rem;
      }
    }

    &__input {
      height: 4rem;
      border: transparent;
      width: 100%;
      border-radius: 3px;
      padding-left: 2rem;

      &:focus {
        border-bottom: 5px solid #ff7730;
        outline-color: transparent;
      }

      &:valid {
        border-bottom: 5px solid #28b485;
        outline-color: transparent;
      }
    }

    &__input:placeholder-shown + &__label {
      opacity: 0;
      padding-left: 2rem;
      visibility: hidden;
    }

    &__label {
      opacity: 1;
      padding-left: 2rem;
    }
    .radio__button {
      display: inline-block;
      height: 3rem;
      width: 3rem;
      border: 5px solid $color-green-light;
      border-radius: 50%;
      position: relative;
      transition: all 0.1s;
      &--checked {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $color-orange-light;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
    }
    .radio-input {
      display: none;
    }

    .radio__label {
      position: absolute;
      top: -5px;
      left: 4rem;
      color: rgba(0, 0, 0, 0.6);
    }
    .radio {
      display: flex;
    }

    .radio-input:checked + .radio__button > .radio__button--checked {
      opacity: 1;
    }
  }
}
</style>
