<template>
    <section class="section-feature">
        <div class="row">
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-world"></i>
                    <div class="u-text-center">
                        <h3 class="heading-tertiary u-margin-bottom-5"> The Beauty Of Wildness</h3>
                    </div>
                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-compass"></i>
                    <div class="u-text-center">
                        <h3 class="heading-tertiary u-margin-bottom-5"> The Beauty Of Wildness</h3>
                    </div>
                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-map"></i>
                    <div class="u-text-center">
                        <h3 class="heading-tertiary u-margin-bottom-5"> The Beauty Of Wildness</h3>
                    </div>
                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
            <div class="col-1-of-4">
                <div class="feature-box">
                    <i class="feature-box__icon icon-basic-heart"></i>
                    <div class="u-text-center">
                        <h3 class="heading-tertiary u-margin-bottom-5"> The Beauty Of Wildness</h3>
                    </div>
                    <p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
  name: "Feature"
};
</script>
<style lang="css" scoped>
@import "../assets/icons/icon-styles.css";
</style>

<style lang="scss">
@import "../assets/sass/layouts/grids";
@import "../assets/sass/pages/features";
</style>
