<template>
    <header class="header">
        <div class="header__logo--box">
            <img src="../assets/img/logo-white.png" alt="Logo" class="header__logo">
        </div>
        <div class="header__title--box">
            <h1 class="heading-primary">
                <span class="heading-primary--main"> Outdoors</span>
                <span class="heading-primary--sub"> Here is where it began</span>
            </h1>

            <a href="#" class="btn btn--white btn--animated"> Discover Tour</a>
        </div>
    </header>
</template>
<script>
export default {
  name: "headerApp"
};
</script>

<style scoped lang="scss">
@import "../assets/sass/pages/header.style";
@import "../assets/sass/components/button";
</style>
