<template>
    <div class="section-story">
        <div class="bg-video">
            <video  class="bg-video__content" autoplay muted loop>
                <source src="../assets/img/video.mp4" type="video/mp4">
                <source src="../assets/img/video.webm" type="video/webm">

            </video>
        </div>
        <div class="u-text-center">
            <h2 class="heading-secondary"> We Make people genuinely happy</h2>
        </div>
        <div class="row ">
            <div class="story ">
                <figure class="story__shape">
                    <figcaption class="story__caption"> Carine</figcaption>
                    <img src="../assets/img/nat-8.jpg" alt="" class="story__image">
                </figure>
                <div class="story__text">
                    <h3 class="heading-tertiary"> I Had the best week with my Family</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque doloribus fugiat modi
                        reiciendis ullam vero? Accusamus commodi delectus incidunt ipsum laboriosam quae quaerat. Maxime
                        non suscipit ut voluptates voluptatum!</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="story">
                <figure class="story__shape">
                    <figcaption class="story__caption"> Yannick Kouakam</figcaption>
                    <img src="../assets/img/nat-9.jpg" alt="" class="story__image">
                </figure>
                <div class="story__text">
                    <h3 class="heading-tertiary"> I Had the best week with my Family</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci cumque doloribus fugiat modi
                        reiciendis ullam vero? Accusamus commodi delectus incidunt ipsum laboriosam quae quaerat. Maxime
                        non suscipit ut voluptates voluptatum!</p>
                </div>
            </div>
        </div>

        <div class="u-text-center u-margin-bottom-8">
            <a href="#" class="read-more">More Stories &rarr;</a>
        </div>
    </div>
</template>

<script>
export default {
  name: "Story"
};
</script>

<style lang="scss">
@import "../assets/sass/pages/story";
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden;

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
</style>
