<template>
 <section class="section-tours">
     <div class="u-text-center">
         <h2 class="heading-secondary u-margin-bottom-8"> Most Popular Tours</h2>
     </div>
         <div class="row">
             <div class="col-1-of-3">
                 <div class="card">
                     <div class="card__side card__side--front">
                         <div class="card__image card__image--1"></div>
                         <div class="detail">
                             <ul>
                                 <li>price</li>
                                 <li>price</li>
                                 <li>price</li>
                                 <li>price</li>
                             </ul>
                         </div>
                     </div>

                     <div class="card__side card__side--back card__side--back--first">
                        <p class="price-only">only</p>
                         <div class="price-text">&dollar; 470</div>
                         <div class="u-text-center u-margin-bottom-8">
                             <a href="" class="btn btn--white">Book Now</a>
                         </div>
                     </div>

                 </div>
             </div>
             <div class="col-1-of-3">
                 <div class="card">
                     <div class="card__side card__side--front">
                         <div class="card__image card__image--2"></div>
                         <div class="detail">
                             <ul>
                                 <li>price</li>
                                 <li>price</li>
                                 <li>price</li>
                                 <li>price</li>
                             </ul>
                         </div>
                     </div>

                     <div class="card__side card__side--back card__side--back--second">
                         <p class="price-only">only</p>
                         <div class="price-text">&dollar; 470</div>
                         <div class="u-text-center u-margin-bottom-8">
                             <a href="" class="btn btn--white">Book Now</a>
                         </div>
                     </div>

                 </div>
             </div>
             <div class="col-1-of-3">
                 <div class="card">
                     <div class="card__side card__side--front">
                         <div class="card__image card__image--3"></div>
                         <div class="detail">
                             <ul>
                                 <li>price</li>
                                 <li>price</li>
                                 <li>price</li>
                                 <li>price</li>
                             </ul>
                         </div>

                     </div>

                     <div class="card__side card__side--back card__side--back--third">
                         <p class="price-only">only</p>
                         <div class="price-text">&dollar; 470</div>
                         <div class="u-text-center u-margin-bottom-8">
                             <a href="" class="btn btn--white">Book Now</a>
                         </div>
                     </div>

                 </div>
             </div>
         </div>
     <a href="" class="btn btn--green">Discover Our Tours</a>
 </section>
</template>

<script>
export default {
  name: "Tours"
};
</script>

<style lang="scss" scoped>
@import "../assets/sass/pages/tours";
@import "../assets/sass/layouts/grids";
@import "../assets/sass/components/button";
.detail {
  padding: 1rem;

  ul {
    list-style: none;
    width: 80%;
    text-align: center;

    li {
      &:not(:last-child) {
        padding: 1rem;
        border-bottom: 1px solid #eee;
        font-size: 1.6rem;
      }
    }
  }
}
</style>
