@import "../base/typography";
@import "../base/animations";

.section-about {
  background-color: $color-grey-light;
  padding: 25rem 0;
  margin-top: -20vh;

}

.composition{
    position: relative;

  &__photo{
    width: 55%;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    outline-offset: 1rem;

    &--p1 {
      top: -1.5rem;
      left: 0;
    }

    &--p2 {
      top: 3rem;
      z-index: 12;
    }

    &--p3{
      top: 11rem;
      left: 7rem;
    }

    &:hover {
      outline: 1rem solid $color-green-light;
     transform: scale(1.1);
      z-index: 14;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, .6);
    }
  }

  &:hover &__photo:not(:hover){
      transform: scale(.9);
    }
}
