@import "../base/variables";

.section-feature {
  padding: 20rem 0;
  margin-top: -15rem;

  background: linear-gradient(
                  to right,
                  rgba($color-green-light, 0.8),
                  rgba($color-green-dark, 0.8)
  ),
  url("../assets/img/nat-4.jpg") top;

  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }

  .feature-box {
    background: rgba($color-white, .8);
    box-shadow: 0 1.2rem 2rem rgba($color-black, .15);
    font-size: 1.5rem;
    text-align: center;
    padding: 2.5rem;
    border-radius: 4px;
    transition: all .2s;

    &:hover {
      transform: translateY(-1.5rem) scale(1.03);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
    }

    &__icon {
      font-size: 6rem;
      margin-bottom: .5rem;
      display: inline-block;
      background: linear-gradient(
                      to right,
                      rgba($color-green-light, 0.6),
                      rgba($color-green-dark, 0.8)
      );
      -webkit-background-clip: text;
      color: transparent;
    }
  }

}
