@import "../base/_typography.scss";
@import "../base/_animations.scss";
@import "../base/_variables.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-size: cover;
  background: linear-gradient(
                  to right,
                  rgba($color-green-light, 0.8),
                  rgba($color-green-dark, 0.8)
  ),
  url("../assets/img/hero.jpg") top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  &__logo {
    height: 4.5rem;
  }

  &__logo--box {
    position: absolute;
    top: 4.5rem;
    left: 3.5rem;
  }

  &__title--box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}


