@import "../base/variables";

@mixin back-gradient ($dir,$col1, $col2){
  background: linear-gradient(
                  $dir,
                  rgba($col1, 0.8),
                  rgba($col2, 0.8)
  )
}

.section-tours {
 padding:20rem 10rem 10rem ;
  margin-top: -10rem;
  background: $color-grey-light;

  text-align: center;

}

.card {

  perspective: 150rem;
  position: relative;
  width: 100%;
  height: 50rem;
  display: inline-block;


  margin: 3rem 0;

  &__side {
    height: 50rem;
    width: 100%;
    box-shadow: -.5rem 1.2rem 2rem rgba($color-black, .15);
    transition: all 2s;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    &--front{

    }

    &--back {
      transform: rotateY(180deg);

      .price-text{
        font-size: 6rem;
        font-weight: 200;
        margin-bottom: 5rem;
      }

      .price-only {
        margin-top: 8rem;
        margin-bottom: 2rem;
        color: white;
      }

      &--first {
        @include back-gradient(to right bottom,
                $color-orange-light,
                $color-orange-dark);
      }

      &--second {
        @include back-gradient(to right bottom,
                $color-green-light,
                $color-green-dark);
      }

      &--third {
        @include back-gradient(to right bottom,
                $color-blue-light,
                $color-blue-dark);
      }
    }

  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg) ;
  }

  &__image{
    height: 24rem;
    background-blend-mode: screen;

    &--1 {
      background-image: linear-gradient(
                      to right,
                      $color-orange-light,
                      $color-orange-dark
      ),
      url("../assets/img/nat-5.jpg");
    }

    &--2 {
      background-image: linear-gradient(
                      to right,
                      rgba($color-green-light, 0.8),
                      rgba($color-green-dark, 0.8)
      ),
      url("../assets/img/nat-6.jpg");
    }

    &--3 {
      background-image: linear-gradient(
                      to right,
                      rgba($color-blue-light, 0.8),
                      rgba($color-blue-dark, 0.8)
      ),
      url("../assets/img/nat-7.jpg");
    }

    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    background-size: cover;
  }
}
