@import "../base/variables";
@import "../base/typography";
@import "../layouts/utilities";
@import "../base/mixins";
@import "../components/button";

.section-story {
  padding: 2rem;
  position: relative;

}

.story {
  width: 80%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  margin: auto;
  padding: 4rem;
  transform: skewX(-12deg);
  position: relative;

  &__shape {
    float: left;
    background: #2998FF;
    width: 15rem;
    height: 15rem;
    margin-right: 1rem;
    transform: skewX(12deg);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);


  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: white;
    opacity: 0;
    font-size: 2rem;
    font-weight: 600;

    transition: all .5s;
  }

  &__text {
    transform: skewX(12deg);
  }

  &__image {
    height: 100%;
    transform: translate(-3rem) scale(1.4);
    transition: all .5s;
  }

  &:hover &__image {
    -webkit-filter: blur(.12rem);
    filter: blur(.12rem);
    transform: scale(1);
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 12;
  }


}
