@import "../base/variables";

.btn {
  &,
  &:link,
  &:visited {
    display: inline-block;
    font-size: $default-font-size;
    text-transform: uppercase;
    text-decoration: none;
    padding: .8rem 4rem;
    border-radius: 10rem;
    margin-top: 1.5rem;
    transition: all .2s;

    border: none;
  }

  &:hover {
    transform: translateY(-.7rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  }

  &:active {
    transform: translateY(.5rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    color: green;
  }

  &--white {
    color: #212121;
    background: white;
  }

  &--green {
    background: $color-green-dark;
    color: white;
  }

  &--animated {
    animation: btn-move-in-up 2s ease-in-out 1s;
    animation-fill-mode: backwards;
    backface-visibility: hidden;
  }
}

.read-more:link,
.read-more:visited {
  display: inline-block;
  font-size: 2rem;
  color: $color-green-dark;
  text-decoration: none;
  border-bottom: 1px solid $color-green-dark;
  transition: all .2s;

  &:hover {
    background-color: $color-green-dark;
    color: $color-grey-light;
    text-decoration: none;

    transform: translateY(-.3rem);
    box-shadow: 0 .6rem 1.3rem rgba(0, 0, 0, .2);
  }

  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
  }
}
