<template>
    <div id="app">
        <header-app/>
        <main>
            <about-app/>
            <feature-app/>
            <tours-app/>
            <story-app/>
            <booking-app/>
        </main>
    </div>
</template>

<script>
import HeaderApp from "./components/Header.vue";
import AboutApp from "@/components/About.vue";
import FeatureApp from "@/components/Feature.vue";
import ToursApp from "@/components/Tours.vue";
import StoryApp from "@/components/Story.vue";
import BookingApp from "@/components/Booking.vue";

export default {
  name: "app",
  components: {
    HeaderApp,
    AboutApp,
    FeatureApp,
    ToursApp,
    StoryApp,
    BookingApp
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,700");

html {
  font-size: 62.5%;
}

@media all and (max-width: 576px) {
  html {
    font-size: 56.5%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #7777;
  padding: 1.5rem;
}
</style>
